 <span class="tl_gray">[<img src="{{ asset('images/condition.svg', 'terminal42_conditionalformfields') }}" alt="" aria-hidden="true"><abbr title="{{ conditionalFormFieldCondition }}">{{ conditionalFormFieldCondition|slice(0, 80) }}</abbr>]</span>
